html {
  scroll-behavior: smooth;
 }

body {
  margin:0;
  font-family: Verdana, 'Arial Black', メイリオ, sans-serif;

 }

 /* ヘッダー */
 header{
  width:100%;
  height:100px;
  border-bottom: 6px solid rgb(166,29,76);
 }

 /* ヘッダー背景 */
 .bg{
  width:100%;
  height:100px;
  background-image: url("../img/cherryblossoms.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  opacity:0.5;

}

 .header-contents{
   display:flex;
   align-items: center;
   justify-content: space-around;
   width:100%;
   height: 100px;
   position:absolute;
   top:0;
   left:0;
 }

 .header-image img{
   width:64px;
   height:64px;
   margin-top: 16px;    
  }

  .sp-menu #open{
    font-size: 32px;
    cursor:pointer;
  }

  .sp-menu #open.hide{
    display:none;
  }

  .overlay{
    position:fixed;
    top:0;
    bottom:0;
    right:0;
    left:0;
    background: rgba(255,255,255,0.95);
    z-index: 11;
    text-align: center;
    padding:64px;
    opacity:0;
    pointer-events: none;
    transition:opacity .6s;
  }

  .overlay.show {
    opacity:1;
    pointer-events: auto;
  }

  .overlay #close{
    position:absolute;
    top:16px;
    right:16px;
    margin-right:24px;
    font-size: 32px;
    cursor:pointer;
  }

  .overlay ul{
    list-style-type: none;
    margin:0;
    padding:0;
  }

  .overlay li{
    margin-top:24px;
    text-align:left;
    opacity:0;
    transform:translateY(16px);
    transition:opacity .3s, transform .3s;
  }

  .overlay li a{
    color:rgb(166,29,76);
  }

  .overlay.show li{
    opacity:1;
    transform:none;
  }

  .overlay.show li:nth-child(1){
    transition-delay: .1s;
  }
  .overlay.show li:nth-child(2){
    transition-delay: .2s;
  }
  .overlay.show li:nth-child(3){
    transition-delay: .3s;
  }
  .overlay.show li:nth-child(4){
    transition-delay: .4s;
  }
  .overlay.show li:nth-child(5){
    transition-delay: .5s;
  }
  .overlay.show li:nth-child(6){
    transition-delay: .6s;
  }

  .pc-menu{
    display:none;
  }

/* メイン */

  main > p{
    width:72%;
    margin:0 auto;
    font-size:14px;
  }

  .container{
    position: absolute;
    top: 160px;
    left:0;
  }

  .top-image{
    display:none;
  }

  #about{
    margin-top:16px;
    margin-bottom:24px;
  }

  #about p{
    margin:16px;
    font-size:16px;
    text-align: left;
    line-height: 1.79;
    background-color: #F6F3EE;
    box-shadow: 5px 2.5px 3px rgba(0, 0, 0, 0.3);
    padding:8px;
  }

  #product{
    margin-bottom:24px;
  }

  .product-subtitle{
   text-align: center;
   width:24%;
   height:30px;
   margin:0 auto;
  
  }

  .product-subtitle p{
    margin-top:32px;
    margin-bottom: 32px;
    font-size:16px;
    padding:4px;
    color:white;
    font-weight: normal;
    background-color: rgb(166,29,76);  
  }

  .sub-title{
    display:flex;
    align-items: center;
    width:90%;
    border-bottom: double 4px rgb(126,55,148);
    margin-left: 16px;
    margin-right: 16px;
    
  }

  .sub-title img{
    width:24x;
    height:24px;
    margin-left:16px;
    padding:8px;
    border-radius: 50%;
    background-color: rgb(126,55,148);
  }

  .sub-title h2{
    margin:0;
    margin-left:16px;
    font-weight:normal;
    font-family:Sukhumvit Setmac;
    font-size: 22px;
  }

  .introduction{
    text-align: center;
    margin-bottom:20px;
    margin-top:16px;
    }

  .introduction-title{
    display:flex;
    justify-content: center;
    align-items: center;
    
  }

  .introduction-title img{
    width:48px;
    height:48px;
  }

  .introduction-title span{
    color:rgb(126,55,148);
  }

  .introduction h3{
    font-weight: normal;
    margin:0;
    padding:0 8px;
    color:rgb(126,55,148);
    text-shadow:2px 2px 4px rgba(0, 0, 0, 0.3);
  }

  .introduction > img{
    width:200px;
    height:300px;
    object-fit: cover;
    border:2px solid rgb(126,55,148);
    border-radius: 8px;
    box-shadow: 5px 2.5px 3px rgba(0, 0, 0, 0.3);
  }

  .product-info{
    width:250px;
    height:72px;
    background-color: #F6F3EE;
    margin:0 auto;
    box-shadow: 5px 2.5px 3px rgba(0, 0, 0, 0.3);
  }

  .product-info p{
    margin:0;
    padding:6px;
    font-size: 16px;
  }
 
#access{
  margin-bottom:24px;
}

.access-info{
  margin:16px;
  font-size:16px;
  text-align: left;
  line-height: 1.79;
  background-color: #F6F3EE;
  padding:8px;
  box-shadow: 5px 2.5px 3px rgba(0, 0, 0, 0.3);
}

.adress{
  display:flex;
}


.adress p{
  margin:0;
  padding-left:8px;
}

.transportation{
  display:flex;
  padding-top:8px;
}

.transportation p{
  margin:0;
  padding-left:8px;
}

.iframe-wrap{
  position:relative;
  width:85%;
  padding-top: 75%;
  margin:0 auto;
}

.iframe-wrap iframe{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  box-shadow: 5px 2.5px 3px rgba(0, 0, 0, 0.3);
}

#contact{
  margin-bottom:24px;
  margin-top:24px;
}

.contact-info{
  margin:16px;
  font-size:16px;
  text-align: left;
  line-height: 1.79;
 }

.contact-details{
  background-color: #F6F3EE;
  padding:8px;
  box-shadow: 5px 2.5px 3px rgba(0, 0, 0, 0.3);
}

.telephone{
  display:flex;
}


.telephone p{
  margin:0;
  padding-left:8px;
}

.email{
  display:flex;
}


.email p{
  margin:0;
  padding-left:8px;
}

.business-hour{
  display:flex;
}


.business-hour p{
  margin:0;
  padding-left:8px;
}

.note p:nth-child(1){
  font-size: 14px;
  margin:0;
  padding-top:8px;
}

.note p:nth-child(2){
  font-size: 12px;
  margin:0;
}

#gallery{
  margin-bottom:24px;
}

.gallery-details{
  background-color: #F6F3EE;
  padding:8px;
  box-shadow: 5px 2.5px 3px rgba(0, 0, 0, 0.3);
}

.gallery-info{
  margin:16px;
  font-size:16px;
  text-align: left;
  line-height: 1.79;
 }
 
.gallery-photo{
  text-align: center;
}

.gallery-photo img{
  width:80px;
  height:120px;
  object-fit: cover;
  margin:16px 8px 32px 8px;
  box-shadow: 10px 5px 3px rgba(0, 0, 0, 0.3);
  transition:.3s;
}

.gallery-photo img:hover{
  opacity:0.7;
}

.gallery-photo img:active {
  box-shadow: none;
  position:relative;
  left:10px;
  top:5px;
}

.button img{
  width:48px;
  height:48px;
  margin-left:90%;
  margin-top:16px;
  position:fixed;
  right:5%;
  bottom:5%;
  transition:1s;
  opacity:0.6;
}

.button img:hover{
  opacity:1;
}

/* フッター */

footer{
  width:100%;
  height:120px;
  background-color: rgb(166,29,76);
  
}

.footer-top{
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.footer-image img{
  width:64px;
  height:64px;
  margin-top: 16px; 
  margin-left:16px;   
 }

 .footer-info{
   text-align: end;
   margin-right:16px;
 }

 .footer-info p{
   margin:0;
   color:white;
   font-size:12px;
   line-height: 1.79;
 }

 .copyright{
  margin:0 auto;
  text-align: center;
  font-weight: normal;
  margin-top: 8px;
  font-size: 12px;
  color:white;
 }

 /* アニメーション */
 .animate{
   opacity:0;
   transform:translateY(20px);
   transition:opacity .3s, transform .3s;
 }

 .animate.appear{
   opacity:1;
   transform:none;
 }

/* レスポンシブ（大きい画面） */
@media (min-width: 600px) {
   .pc-menu{
    display:block;
   }

  .pc-menu ul{
    display:flex;
    justify-content: center;
    list-style-type: none;
    font-size:14px;
    width:100%;
    height:37.6px;
    margin:0;
    padding:0;
    background-color:rgb(166,29,76);
  }

  .pc-menu li{
    text-align: center;
    padding-top: 8px;
    display:inline-block;
   }

  .pc-menu li a{
    font-family:Sukhumvit Setmac;
    text-decoration: none;
    background-color:rgb(166,29,76);
    color:white;
    padding:8px 16px;
    }

    .pc-menu li a:hover{
      background-color:rgb(188,86,121);
    }

    .sp-menu{
      display:none;
    }

    .top-wrapper{
      display:flex;
      align-items: center;
      justify-content: space-around;
      width:72%;
      margin:0 auto;
    }
    
    .top-image{
      display:block;
    }

    .top-image img{
      width:187px;
      height:125px;
      object-fit: cover;
      margin:16px;
      /* box-shadow: 10px 5px 3px rgba(0, 0, 0, 0.3); */
      box-shadow: 5px 2.5px 3px rgba(0, 0, 0, 0.3);
      transition:.3s;
    }

    .product-wrapper{
      display:flex;
      justify-content: space-around;
      width:72%;
      margin:0 auto;
    }

    .pc-subtitle{
      width:72%;
      margin:0 auto;

    }

    .access-wrapper{
      display:flex;
      width:72%;
      margin:0 auto;
      justify-content: center;
      margin-bottom: 40px;
    }

    .access-info, transportation{
      margin-top:16px;
      margin-bottom: 16px;
    }

    .iframe-wrap{
      padding:0;
      width:300px;
      height:200px;
    }

    .iframe-wrap iframe{
      width:300px;
      height:200px;
      margin:16px;
    }

    
    .contact-info{
      width:72%;
      margin:0 auto;
      margin-top:16px;
    }

    .contact-details{
      width:490px; 
    }

    .gallery-info{
      width:72%;
      margin:0 auto;
      margin-top:16px;
    }

    .gallery-details{
      width:490px;
    }

    .gallery-photo img{
      width:150px;
      height:225px;
      object-fit: cover;
      margin:32px;
    }

    .footer-top{
      justify-content: space-around;
    }
}



