html {
  scroll-behavior: smooth;
 }

body {
  margin:0;
  /* background: #fff; */
  font-family: Verdana, 'Arial Black', メイリオ, sans-serif;

 }

 /* ヘッダー */
 header{
  width:100%;
  height:100px;
  border-bottom: 6px solid rgb(166,29,76);
  
  /* position: fixed; 
   top: 0; 
   left: 0; 
   z-index: 10; */
 
 }

 /* ヘッダー背景 */
 .bg{
  width:100%;
  height:100px;
  background-image: url("../../img/cherryblossoms.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  opacity:0.5;

}

 .header-contents{
   display:flex;
   align-items: center;
   justify-content: space-around;
   width:100%;
   height: 100px;
   position:absolute;
   top:0;
   left:0;
 }

 /* .header-image{
   margin-left: calc(50% - 64px);
 } */

 .header-image img{
   width:64px;
   height:64px;
   margin-top: 16px;   
  
  }

  
 

  /* メイン */
  .container{
    position: absolute;
    top: 160px;
    left:0;
    width:100%;
    height:fit-content;
  }

  .topbtn-home{
    margin-bottom:0px;
   }
  
   .topbtn-home a{
    display:block;
     text-decoration: none;
      background-color:rgb(166,29,76);
      color:white;
      font-size:12px;
      /* padding:8px 16px; */
     padding: 8px;
      text-align: center;
      width: 48px;
    border-radius: 2px;
    margin-left:auto;
    margin-right:5%;
    transition:.3s;
    box-shadow: 5px 2.5px 3px rgba(0, 0, 0, 0.3);
   }
  
   .topbtn-home a:hover{
    background-color:rgb(188,86,121);
    opacity:0.7;
  }
  
  .topbtn-home a:active {
    box-shadow: none;
    position:relative;
    left:10px;
    top:5px;
  }
  
  .sub-title{
    display:flex;
    align-items: center;
    width:90%;
    border-bottom: double 4px rgb(126,55,148);
    margin-left: 16px;
    margin-right: 16px;
    
  }

  .sub-title img{
    width:24x;
    height:24px;
    margin-left:16px;
    padding:8px;
    /* border:2px solid rgb(126,55,148); */
    border-radius: 50%;
    background-color: rgb(126,55,148);
  }

  .sub-title h2{
    margin:0;
    margin-left:16px;
    font-weight:normal;
    font-family:Sukhumvit Setmac;
    font-size: 22px;
    /* /* border-bottom: double 4px rgb(166,29,76); */
  }



  .gallery{
    margin-bottom:24px;
  }
  
  .gallery-details{
    background-color: #F6F3EE;
    padding:8px;
    box-shadow: 5px 2.5px 3px rgba(0, 0, 0, 0.3);
  }
  
  .gallery-info{
    margin:16px;
    font-size:16px;
    text-align: left;
    line-height: 1.79;
    /* background-color: #F6F3EE;
    padding:8px; */
    /* box-shadow: 10px 5px 3px rgba(0, 0, 0, 0.3); */
    /* box-shadow: 5px 2.5px 3px rgba(0, 0, 0, 0.3); */
  }

  .gallery-subtitle{
    text-align: center;
    width:24%;
    height:30px;
    margin:0 auto;
   }
 
   .gallery-subtitle p{
     /* display:block;
     width:45%; */
     margin-top:16px;
     font-size:16px;
     padding:4px;
     color:white;
     font-weight: normal;
     background-color: rgb(166,29,76);
     margin-top:32px;
    margin-bottom: 32px;
   }

  .introduction-title{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:16px;
  }

  .introduction-title img{
    width:48px;
    height:48px;
  }

  .introduction-title span{
    /* color:rgb(19,149,92); */
    color:rgb(126,55,148);
  }

  .introduction-title h3{
    /* font-family: cursive; */
    font-weight: normal;
    margin:0;
    padding:0 8px;
    /* color:rgb(19,149,92); */
    color:rgb(126,55,148);
    text-shadow:2px 2px 4px rgba(0, 0, 0, 0.3);
  }
   
  .gallery-photo{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
  }
  
  .gallery-photo img{
    width:80px;
    height:120px;
    object-fit: cover;
    margin:16px 8px 32px 8px;
    box-shadow: 5px 2.5px 3px rgba(0, 0, 0, 0.3);
    transition:.3s;
  }

 .btn-home{
  margin-bottom:16px;
 }

 .btn-home a{
  display:block;
   text-decoration: none;
    background-color:rgb(166,29,76);
    color:white;
    font-size:12px;
    /* padding:8px 16px; */
   padding: 8px;
    text-align: center;
    width: 48px;
  border-radius: 2px;
  margin:0 auto;
  transition:.3s;
  box-shadow: 5px 2.5px 3px rgba(0, 0, 0, 0.3);
 }

 .btn-home a:hover{
  background-color:rgb(188,86,121);
  opacity:0.7;
}

.btn-home a:active {
  box-shadow: none;
  position:relative;
  left:10px;
  top:5px;
}

.button img{
  width:48px;
  height:48px;
  margin-left:90%;
  margin-top:16px;
  position:fixed;
  right:5%;
  bottom:5%;
  transition:1s;
  opacity:0.6;
}

.button img:hover{
  opacity:1;
}

/* フッター */
  footer{
    width:100%;
    height:120px;
    background-color: rgb(166,29,76);
    
  }
  
  .footer-top{
    display:flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer-image img{
    width:64px;
    height:64px;
    margin-top: 16px; 
    margin-left:16px;   
   }
  
   .footer-info{
     text-align: end;
     margin-right:16px;
   }
  
   .footer-info p{
     margin:0;
     color:white;
     font-size:12px;
     line-height: 1.79;
   }
  
   .copyright{
    margin:0 auto;
    text-align: center;
    font-weight: normal;
    margin-top: 8px;
    font-size: 10px;
    color:white;
   }
  
  
  
  
 

  /* レスポンシブ（大きい画面） */
@media (min-width: 600px) {
  

   .pc-subtitle{
    width:72%;
    margin:0 auto;

  }

  .gallery-info{
    width:72%;
    margin:0 auto;
    margin-top:16px;
  }

  .gallery-details{
    width:490px;
  }

  .gallery-photo{
    width:72%;
    margin:0 auto;
    margin-top:16px;
  }

  .gallery-photo img{
    width:150px;
    height:225px;
    object-fit: cover;
    /* margin:16px 8px 32px 8px; */
    margin:24px;
    /* box-shadow: 10px 5px 3px rgba(0, 0, 0, 0.3);
    transition:.3s; */
  }

   /* レスポンシブ　フッター */
   footer{
     width:100%;
   }

   .footer-top{
    justify-content: space-around;
  }


  }